{% extends "videoplay/base.html"%}
{% block content %}

<div class="container fluid">
                            <div class="row">
                              <div class="col text-center">
                                <div class="jumbotron">
                                    <h1 class="display-4">Select Experiment</h1>
                                    {% comment %} <p class="lead">Thank you for your participation!</p> {% endcomment %}
                                    <hr class="my-4">
                                    <p>Please Read the Instructions and Click I agree to Start!
                                      {% comment %} <a href="{% url 'videoplay-videos' %}"><button type="button" id="startButton1" class="btn btn-primary btn-md" style="border-color:gray;background-color:rgb(8, 3, 56);;" name="part1" hidden>Experiment 1 <i2 class="arrow right"></i2></button></a> {% endcomment %}
                                     {% comment %} <a href="{% url 'videoplay-videos2' %}"><button type="button" id="startButton2" class="btn btn-primary btn-md" style="border-color:gray;background-color:rgb(8, 3, 56);;" name="part2" hidden>Experiment 2 <i2 class="arrow right"></i2></button></a> {% endcomment %}
                                    <br>
                                    {% if user.is_authenticated %}
                                      <a class="btn btn-primary btn-lg" href="{%url 'videoplay-download1' %}" role="button" name="Agree1">Start Experiment 1</a>
                                      <a class="btn btn-primary btn-lg" href="{%url 'videoplay-download2' %}" role="button" name="Agree2">Start Experiment 2</a>
                                    {% else %}
                                      <div>
                                          <b>Need an Account?  </b>
                                          <p></p>
                                          <a name="signup" class="btn btn-primary btn-md" href="{%url 'register'%}" role="button">Sign Up!</a>
                                          <br>
                                          <br>
                                          <b>Already have an Account?  </b>
                                          <p></p>
                                          <a name="login" class="btn btn-success btn-md" href="{%url 'login'%}" role="button">Login!</a>
                                    {% endif %}
                                  </div>
                              </div>
                            </div>
                          </div>

                </div>


    {%endblock content%}
